[user]
    name = Julian Visser
    email = 12615757+justmejulian@users.noreply.github.com
[diff]
    external = difft
[init]
    defaultBranch = main
[core]
    editor = nvim
    excludesfile = /Users/julian.visser/.gitignore_global
[commit]
    verbose = true
[push]
    autoSetupRemote = true
[alias]
    stash = stash --all
[rerere]
    enabled = true

[includeIf "gitdir:~/git/private/**"]
    path = ~/git/private/.gitconfig
