[submodule ".zsh/zsh-syntax-highlighting"]
	path = .zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".config/kitty/kitty"]
	path = .config/kitty/catppuccin
	url = https://github.com/catppuccin/kitty.git
[submodule ".zsh/catppuccin-zsh-syntax-highlighting"]
	path = .zsh/catppuccin-zsh-syntax-highlighting
	url = https://github.com/catppuccin/zsh-syntax-highlighting.git
